@page
@model Adventure_Chest.Models.User
@{
    ViewData["Title"] = "Регистрация";
}
<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Создание нового аккаунта</h4>
    <a href="./Index">Назад</a>
    <hr />
    @Html.ValidationSummary()
    <div class="form-group">
        <div class="col-md-2 control-label">Имя пользователя</div>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Введите имя пользователя" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 control-label">Логин</div>
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Login, new { @class = "form-control", placeholder = "Введите логин" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 control-label">Пароль</div>
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Введите пароль" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 control-label">Подтверждение пароля</div>
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Подтвердите пароль" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-2 control-label">Дата рождения</div>
        <div class="col-md-10">
            <input type="date" id="Birthday" name="Birthday" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-dark" value="Зарегистрироваться" />
        </div>
    </div>
}